@model List<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        @foreach(var p in Model)
        {
            <div class="col-md-3">
                <div class="card pt-3">
                    <img src="~/images/@p.ImageUrl" class="card-img-top product-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Properties</p>
                        <p class="card-text">@p.Price</p>
                        <a 
                            asp-area=""
                            asp-controller="Home"
                            asp-action="GetById"
                            asp-route-id="@p.Id"
                            class="btn btn-primary">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@* @section Scripts{
    <script>
        alert("Selammmm burası index!");
    </script>
} *@