@{
    ViewData["Title"] = "Resim Yükleme";
}

<div class="text-center">
    <h1 class="display-4">Resim Yükle</h1>
    <form asp-area="" asp-controller="Home" asp-action="ResimYukle" method="post" enctype="multipart/form-data">
        <div class="mb-3 w-25 m-auto">
            <label for="formFile" class="form-label">Yüklemek istediğiniz resmi seçiniz</label>
            <input class="form-control" name="image" type="file" id="formFile">
        </div>
        <button class="btn btn-success" type="submit">Gönder</button>
    </form>
    <span class="text-danger">@ViewBag.Message</span>
</div>
