<!-- Footer -->
<footer class="main-footer">
    <strong>FS-2310-13 Sınıfı Tarafından Hazırlanmıştır. 2024</strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Versiyon</b> 1.0.0
    </div>
</footer>