@model int
<li>
    <a 
        asp-area=""
        asp-controller="Message"
        asp-action="Index"
    >
        @{
            bool isShowCount = Model == 0 ? false : true;
        }
        <span class="icon_mail_alt"></span>
        @if (isShowCount)
        {
            <div class="tip">@Model</div>
        }
    </a>
</li>