.Product {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 5px;

}

.Product img {}

.Product h4 {
    color: crimson;
    margin: 0;
    padding: 5px 0px;
}

.Product p {
    margin: 0;
    padding: 5px 0px;
}

.Product button {
    cursor: pointer;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px 15px;
    border: none;
}