@model AddProductViewModel
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <h1>Yeni Ürün</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form
                        asp-area="Admin"
                        asp-controller="Product"
                        asp-action="Create"
                        method="post"
                    >
                    <!--Ürün Bilgileri-->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Ürün Bilgileri</h3>
                        </div>
                        <div class="card-body">
                            
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" type="text" class="form-control" placeholder="Ürün adını giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Price"></label>
                                            <input asp-for="Price" type="text" class="form-control" placeholder="Ürün fiyatını giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label asp-for="ImageUrl"></label>
                                            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Ürün resminin urlini giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Seçenekler</label>
                                        <div class="form-group d-flex">
                                            <div class="icheck-primary mr-3">
                                                <input asp-for="IsHome" type="checkbox" />
                                                <label asp-for="IsHome" for="IsHome"></label>
                                            </div>
                                            <div class="icheck-primary">
                                                <input asp-for="IsActive" type="checkbox" />
                                                <label asp-for="IsActive" for="IsActive"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label asp-for="Properties"></label>
                                        <textarea asp-for="Properties"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Ürün Kategoriler-->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Kategori Seç(En az bir kategori seçmelisiniz!)</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var c in Model.Categories)
                                {
                                    <div class="icheck-primary d-inline mr-3">
                                        <input name="categoryIds" value="@c.Id" id="category_checkbox_@c.Id" type="checkbox" />
                                        <label for="category_checkbox_@c.Id">@c.Name</label>
                                    </div>
                                }
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Ürün Ekle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


@section Styles{
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
}

@section Scripts{
    <!-- Summernote -->
    <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $('#Properties').summernote()
    </script>
}