@model CategoriesProducts
@{
    ViewData["Title"] = "Product Page";
    List<ProductViewModel> productList = Model.Products;
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @await Html.PartialAsync("_CategoriesPartial",Model.Categories)
        </div>
        <div class="col-md-10">
            <div class="row">
                @foreach (ProductViewModel p in productList)
                {
                    @await Html.PartialAsync("_ProductPartial", p)
                }
            </div>

        </div>

    </div>
</div>