@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 100;
}

:root {
    --prime-color: #363062;
    --second-color: #363062;
    --third-color: #f99417;
    --grey-color: rgb(169, 169, 169);
    --black-color: #000000;
    --white-color: #FFFFFF;

}

a {
    text-decoration: none;
    color: var(--third-color);
}

.container {
    width: 90vw;
    margin: 0 auto;
    /* background-color: var(--grey-color); */
    /* color: var(--black-color); */
    /* background-color: wheat; */
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    /* background-color: antiquewhite; */
    /* background-color: yellow; */
}

.header-logo {

    font-size: 45px;
    font-weight: 500;
    color: var(--third-color);
    /* background-color: aqua; */
}

.main-nav {
    /* width: 50%; */
    /* background-color: tomato; */
}

.main-nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* gap: 30px; */
    column-gap: 30px;
}

.main-nav-item {
    /* margin-left: 30px; */
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav-item a {
    font-weight: 300;
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 5px 8px; */
    justify-content: center;
    align-items: center;
    color: var(--third-color);
    /* height: 30px; */
}

.main-nav-item a:hover {
    background-color: var(--prime-color);
    border: 1px solid black;
    color: var(--third-color);
    border-radius: 10px;
}

.main {
    /* height: 1000px; */
    /* border: 1px solid black */
}

#show-case-content {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url("/images/home-bg.jpeg"); */
    /* background-repeat: no-repeat; */
    background-color: rgba(0, 0, 0, 0.6);
    width: 40%;
    border-radius: 40px;


}

#show-case h2 {
    font-size: 80px;
    font-weight: 300;
    color: var(--grey-color);

}

#show-case h3 {
    color: var(--grey-color);
}

#show-case {
    /* ======================== */
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.56)), url("/images/home-bg.jpeg");
    /* ======================== */
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

.how-it-works {
    display: flex;
    gap: 50px;
    margin-top: 15px;
}

.banner {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    color: var(--prime-color);
}

.banner h2 {
    font-weight: 300;
}
.banner h3{
    font-weight: 300;
}

.how-it-works-item {
    height: 300px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
}

.how-it-works-item p {
    margin-top: 15px;

}

.fa-regular,
.fa-brands {
    width: 100px;
    font-size: 50px;
    color: var(--third-color);
    margin: 15px;
    text-align: center;
}

.how-it-works-item p {
    /* text-align: start; */
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.how-it-works-item h2 {
    font-size: 32px;
    font-weight: 400;
    color: var(--prime-color);
}
.features{
    /* background-color: rgb(159, 148, 129); */
    /* height: 450px; */
}
.features-content{
    height: 100%;
    display: flex;
}
.features-image{
    /* width: 50%;
    background-image: url(/images/features.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover; */
    /* 
    ========
    Burada features kısmındaki resmi background olarak değil img tagi ile verdim. style dosyasındada (class'ı image) sadece yüksekliğini verip aspecti bozulmasın diye width'e auto verdim.
    ========
    */
    margin-bottom: 30px;
}
.image1{
    height: 500px;
    width: auto;
}
.features-text{
    width: 50%;
    margin-left: 35px;
}
.features-text p{
    margin-top: 15px;
    margin-bottom: 25px;
    text-indent: 30px;
}
.features-text h3{
    font-size: 26px;
}
.membership{
    margin-bottom: 25px;
}
.membership button{
    align-items: center;
    display: flex;
    /* justify-content: center; */
    color: #363062;
}
.membership-cards{
    display: flex;
    justify-content: space-evenly;
}
.membership-card{
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.membership-card h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 25px;
    text-decoration: underline;
}
.membership-card #recommended{
    text-decoration: none;
    /* border: 1px solid black; */
}
#basicplan{
    background-color: rgb(222, 218, 238);
}
#basicplan h3{
    margin-top: 0;
}

#recommended{
    margin-top: 0px;
    color: crimson;
    background-color: #f99417;
    border-radius: 7px;
    padding: 3px ;
}
.membership-card h4 {
    font-size: 26px;
    font-weight: 500;
}
.membership-card p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.membership-card button{
    margin-bottom: 25px;
    /* buttondan label'e çevirince bu işlevsiz kaldı. bunun yerine yeni label için yazmak gerekli */
}
.membership-card label{
    margin-bottom: 25px;
}
#bigbutton{
   display: flex;
   justify-content: center;
}
.btn-big{
    
}

.footer {
    background-color: wheat;
    padding: 30px;
    text-align: center;
}