@model ResetPasswordViewModel
<div class="container w-25 mt-4 ">
    <h1 class="display-4 text-primary">Yeni Sifre</h1>
    <hr/>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="UserId">
        <input type="hidden" asp-for="TokenCode">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group mb-2">
            <label class="" asp-for="Password"></label>
            <input class="form-control" asp-for="Password"/>
        </div>
        <div class="form-group mb-2">
            <label class="" asp-for="RePassword"></label>
            <input class="form-control" asp-for="RePassword"/>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-block">Şifremi Değiştir</button>
        </div>
    </form>
</div>