@model List<CategoryViewModel>
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="/ui/img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1>@Model[0].Name</h1>
                        <p>
                            @Model[0].Description
                        </p>
                        <a href="/urunler/@Model[0].Url">Alışveriş Yap</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @for (var i = 1; i < Model.Count; i++)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg=@($"/ui/img/categories/category-{i + 1}.jpg")>
                                <div class="categories__text">
                                    <h4>@Model[i].Name</h4>
                                    <p>@Model[i].Description</p>
                                    <a href="/urunler/@Model[0].Url">Alışveriş Yap</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->