<section class="spad">
    <div class="container">
        <div class="col-lg-12">
            <p class="alert alert-danger">
                Bu alana erisim yetkiniz bulunmamaktadir. Detayli bilgi icin yoneticiye basvurunuz.
            </p>
        </div>
    </div>
</section>