* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#title {
    color: crimson;
    font-weight: normal;
}

#btn-open-modal {
    margin-top: 30px;
}

button {
    background-color: coral;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition-duration: 0.4s;
}

button:hover {
    opacity: .8;
    /* width: 300px; */
}

.main-modal {
    background-color: rgba(127, 127, 127, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 15px;
}

.main-modal-none {
    display: none;
}

.modal {
    background-color: white;
    padding: 15px;
    margin-top: 30px;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 300px auto auto auto;
    padding-left: 30px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}

.modal-header-title {}

.btn-cross-modal {

    line-height: 1;
    cursor: pointer;
}

.btn-cross-modal:hover {
    color: gray;
}

.modal-content {
    display: flex;

}

.modal-footer {
    text-align: end;
    border-top: 1px solid grey;
}