/* margin */
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.m-3 {
    margin: 16px;
}

.m-4 {
    margin: 24px;
}

.m-5 {
    margin: 32px;
}

/* margin-left */
.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 16px;
}

.ml-4 {
    margin-left: 24px;
}

.ml-5 {
    margin-left: 32px;
}

/* margin-right */
.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 16px;
}

.mr-4 {
    margin-right: 24px;
}

.mr-5 {
    margin-right: 32px;
}

/* margin-top */
.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 16px;
}

.mt-4 {
    margin-top: 24px;
}

.mt-5 {
    margin-top: 32px;
}

/* margin-bottom */
.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}

.mb-4 {
    margin-bottom: 24px;
}

.mb-5 {
    margin-bottom: 32px;
}

/* margin horizontal */
.mh-0 {
    margin-left: 0;
    margin-right: 0;
}

.mh-1 {
    margin-left: 4px;
    margin-right: 4px;
}

.mh-2 {
    margin-left: 8px;
    margin-right: 8px;
}

.mh-3 {
    margin-left: 16px;
    margin-right: 16px;
}

.mh-4 {
    margin-left: 24px;
    margin-right: 24px;
}

.mh-5 {
    margin-left: 32px;
    margin-right: 32px;
}

/* margin vertical */
.mv-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.mv-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mv-3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mv-4 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.mv-5 {
    margin-top: 32px;
    margin-bottom: 32px;
}


/* padding */
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 16px;
}

.p-4 {
    padding: 24px;
}

.p-5 {
    padding: 32px;
}

/* padding-left */
.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 4px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-3 {
    padding-left: 16px;
}

.pl-4 {
    padding-left: 24px;
}

.pl-5 {
    padding-left: 32px;
}

/* padding-right */
.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 4px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-3 {
    padding-right: 16px;
}

.pr-4 {
    padding-right: 24px;
}

.pr-5 {
    padding-right: 32px;
}

/* padding-top */
.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-3 {
    padding-top: 16px;
}

.pt-4 {
    padding-top: 24px;
}

.pt-5 {
    padding-top: 32px;
}

/* padding-bottom */
.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 16px;
}

.pb-4 {
    padding-bottom: 24px;
}

.pb-5 {
    padding-bottom: 32px;
}

/* padding horizontal */
.ph-0 {
    padding-left: 0;
    padding-right: 0;
}

.ph-1 {
    padding-left: 4px;
    padding-right: 4px;
}

.ph-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.ph-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.ph-4 {
    padding-left: 24px;
    padding-right: 24px;
}

.ph-5 {
    padding-left: 32px;
    padding-right: 32px;
}

/* padding vertical */
.pv-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pv-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.pv-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pv-3 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pv-4 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.pv-5 {
    padding-top: 32px;
    padding-bottom: 32px;
}