<section class="spad">
    <div class="container">
        <div class="col-lg-12">
            <p class="alert alert-danger">
                Bu alana erişim yetkiniz bulunmamaktadır. Detaylı bilgi için yöneticiyle görüşünüz.
            </p>
        </div>
    </div>
</section>