@model ChangePasswordViewModel
<div class="container w-25 mt-4 ">
    <h1 class="display-4 text-primary">Sifre degistir</h1>
    <hr/>
    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="text-danger" asp-validation-summary="All">
            
        </div>
        <div class="form-group mb-2">
            <label class="" asp-for="OldPassword"></label>
            <input class="form-control" asp-for="OldPassword"/>
        </div>
        <div class="form-group mb-2">
            <label class="" asp-for="NewPassword"></label>
            <input class="form-control" asp-for="NewPassword"/>
        </div>
        <div class="form-group mb-2">
            <label class="" asp-for="ReNewPassword"></label>
            <input class="form-control" asp-for="ReNewPassword"/>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-block">Sifreyi degistir</button>
        </div>
    </form>
</div>