<div class="container w-50">
    <h1 class="display-4 text-primary">Sifre Sifirlama</h1>
    <hr/>
    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword">
    <div class="d-flex flex-column">
        
        <div class="text-danger" asp-validation-summary="All"></div>
        <label class="form-label mb-3">E-Mail adresinizi yaziniz.</label>
        <input class="form-control mb-3" name="email">
        <button class="btn btn-primary btn-block">Sifre sifirla</button>
    </div>
    </form>
</div>