@model LoginViewModel
<div class="container w-50 mt-5">
    <h6 class="display-4">Giriş Yap</h6>
    <hr>
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
        <div class="row">
            <div class="col-md-12 text-danger" asp-validation-summary="All">
                
            </div>
            <div class="col-md-12">
                <div class="form-group mb-2">
                    <label class="" asp-for="UserName"></label>
                    <input class="form-control" asp-for="UserName"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group  mb-2">
                    <label class="" asp-for="Password"></label>
                    <input class="form-control" asp-for="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <a asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="btn btn-link">Şifremi Unuttum</a>
            </div>
            <div class="col-md-6 mt-4">
                <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
            </div>
        </div>
    </form>
</div>