<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="alert alert-danger">
                    Bu alana erişim yetkiniz bulunmamaktadır. Detaylı bilgi için yöneticiye başvurunuz.
                </p>
            </div>
        </div>
    </div>
</section>
