@model ChangePasswordViewModel
<div class="container w-25">
    <h1 class="display-4 text-primary">Şifre Değiştirme</h1>
    <hr />
    <form asp-area="" asp-controller="Account" asp-action="ChangePassword" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group mb-2">
            <label asp-for="OldPassword"></label>
            <input class="form-control" asp-for="OldPassword" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="NewPassword"></label>
            <input class="form-control" asp-for="NewPassword" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="ReNewPassword"></label>
            <input class="form-control" asp-for="ReNewPassword" />
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-block">Şifreyi Değiştir</button>
        </div>
    </form>
</div>