<div class="container w-25">
    <h1 class="display-4 text-primary">Şifre Sıfırlama</h1>
    <hr />
    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post" >
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="d-flex flex-column">
            <label class="form-label mb-3">Eposta adresinizi yazınız: </label>
            <input class="form-control mb-3" name="email" />
            <button class="btn btn-primary btn-block">Şifre Sıfırla</button>
        </div>
    </form>

</div>