@model ResetPasswordViewModel
<div class="container w-25">
    <h1 class="display-4 text-primary">Yeni Şifre Belirleme</h1>
    <hr />
    <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="TokenCode" />
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group mb-2">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
        </div>
        <div class="form-group mb-2">
            <label asp-for="RePassword"></label>
            <input class="form-control" asp-for="RePassword" />
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-block">Şifreyi Belirle</button>
        </div>
    </form>
</div>